@use "mixin";

// https://icons.getbootstrap.com/
// https://icofont.com/icons

// https://jakearchibald.github.io/svgomg/
// https://yoksel.github.io/url-encoder/
// https://codepen.io/sosuke/pen/Pjoqqp

.icon {
	display: inline-block;
	vertical-align: -0.125em;
	fill: currentcolor;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

@include mixin.icon('marreta');
@include mixin.icon('android');
@include mixin.icon('apple');
@include mixin.icon('archive');
@include mixin.icon('bookmark');
@include mixin.icon('bsky');
@include mixin.icon('bypass');
@include mixin.icon('chrome');
@include mixin.icon('code');
@include mixin.icon('error');
@include mixin.icon('firefox');
@include mixin.icon('link');
@include mixin.icon('refresh');
@include mixin.icon('search');
@include mixin.icon('telegram');
@include mixin.icon('warning');