@use "mixin";

body {
    padding: 42px 0 0 0;
    @include mixin.devices(desktop) {
        padding: 42px 0 52px 0;
    }
}

.toasty {
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    color: #fff;
    z-index: 1000;
    width: auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .close {
        .icon {
            width: 14px;
            height: 14px;
        }
    }
    p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 1.3em;
    }

    @include mixin.devices(desktop) {
        max-width: 480px;
        left: 50%;
        margin-left: -256px;
    }

    &--error {
        background-color: rgb(247, 102, 97);
    }

    &--warning {
        background-color: rgb(247, 152, 97);
    }
}

header {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    padding: 0 0 42px 0;

    @include mixin.devices(desktop) {
        grid-template-columns: 1fr 2fr 1fr;
    }

    &.open {
        .extension {
            &__toggle {
                background-color: #000;
            }
        }
        .open-nav {
            .icon {
                &--hamburguer {
                    display: none;
                }
                &--close {
                    display: block;
                }
            }
        }
        nav {
            display: flex;
        }

        .integration__menu {
            .icon {
                filter: invert(100%) sepia(32%) saturate(8%) hue-rotate(23deg) brightness(102%) contrast(100%);
            }
        }
    }

    .open-nav {
        cursor: pointer;
        position: relative;
        z-index: 501;
        padding-right: 16px;
        .icon {
            width: 24px;
            height: 24px;
            &--hamburguer {
                display: block;
            }
            &--close {
                display: none;
            }
        }
        @include mixin.devices(desktop) {
            display: none;
        }
    }

    .brand {
        display: flex;
        align-items: center;

        .icon {
            margin-right: 6px;

            &--marreta {
                width: 32px;
                height: 32px;
            }
        }

        h1 {
            font-family: var(--font-family-unna);
            color: #000;
        }
    }

    nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--marreta);
        padding: var(--container_spacing) var(--container_spacing) calc(4*var(--container_spacing)) var(--container_spacing);
        z-index: 500;
        align-items: flex-end;
        flex-direction: column;
        justify-content: end;

        &> * {
            width: 100%;
            @include mixin.devices(desktop) {
                width: auto;
            }
        }

        @include mixin.devices(desktop) {
            opacity: 1;
            display: flex;
            position: relative;
            left: initial;
            right: initial;
            bottom: initial;
            top: initial;
            background-color: transparent;
            padding: 0;
            justify-content: center;
            align-items: normal;
            flex-direction:initial;
            gap: 48px;
        }

        a {
            display: block;
            font-size: 24px;
            padding: 16px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.24);
            color: #fff;
            text-decoration: none;

            @include mixin.devices(desktop) {
                color: #333;
                font-size: initial;
                padding: 0;
                border-bottom: 0;
            }

            &:hover {
                color: #fff;
                @include mixin.devices(desktop) {
                    color: #007bff;
                }
            }
        }

        .integration {
            position: relative;
            padding-top: 32px;

            @include mixin.devices(desktop) {
                padding-top: 0;
            }

            &__toggle {
                background: none;
                border: none;
                color: rgba(255,255,255,0.5);
                padding: 0;
                @include mixin.devices(desktop) {
                    color: #333;
                    cursor: pointer;
                }

                &:hover {
                    color: rgba(255,255,255,0.5);
                    @include mixin.devices(desktop) {
                        color: #007bff;
                    }
                }
            }

            &__menu {
                @include mixin.devices(desktop) {
                    position: absolute;
                    top: 110%;
                    left: 0;
                    border-radius: 16px;
                    background-color: #F4F4F5;
                    border: 4px solid #F4F4F5;
                    z-index: 10;
                    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
                    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04);
                    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
                    transition: max-height 0.8s cubic-bezier(0.16, 1, 0.3, 1);
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                }

                a {
                    font-size: 14px;
                    border-bottom: 0;
                    margin-top: 8px;
                    padding: 16px 0 0 0;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    font-weight: 600;

                    @include mixin.devices(desktop) {
                        background-color: #fff;
                        margin-top: 0;
                        margin-bottom: 4px;
                        padding: 8px 16px;
                        font-size: var(--font-size);
                        color: var(--text);
                    }

                    &:first-child {
                        border-top-left-radius: 16px;
                        border-top-right-radius: 16px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                        border-bottom-left-radius: 16px;
                        border-bottom-right-radius: 16px;
                    }

                    &:hover {
                        color: var(--marreta);
                    }

                    span {
                        display: inline-block;
                    }
                }

                .icon {
                    width: 22px;
                    height: 22px;
                    order: 1;

                    @include mixin.devices(desktop) {
                        order: 2;
                        width: 16px;
                        height: 16px;
                    }
                }

                .name {
                    order: 2;
                    line-height: 1em;
                    padding-left: 12px;

                    @include mixin.devices(desktop) {
                        order: 1;
                        padding-left: 0;
                        width: 140px;
                        line-height: var(--line-height);
                    }
                }
            }

            &.open {
                .integration__menu {
                    max-height: 200px;
                    opacity: 1;
                }

                .arrow {
                    top: 1px;
                    transform: rotate(-45deg);
                }
            }

            .arrow {
                display: none;
                position: relative;
                top: -3px;
                content: "";
                width: 6px;
                height: 6px;
                border-right: 2px solid black;
                border-top: 2px solid black;
                transform: rotate(135deg);
                margin-right: 0;
                margin-left: 16px;

                @include mixin.devices(desktop) {
                    display: inline-block;
                }
            }
        }
    }

    .extension {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 501;

        &__toggle {
            background-color: var(--marreta);
            border-radius: 40px;
            border: 0;
            cursor: pointer;
            color: #FFF;
            font-weight: 600;
            padding: 12px 24px;
            line-height: 1.3em;

            &:hover {
                background-color: var(--marreta-darken);
            }
        }

        &__menu {
            position: absolute;
            top: 110%;
            right: 0;
            border-radius: 16px;
            background-color: #F4F4F5;
            border: 4px solid #F4F4F5;
            z-index: 10;
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
            transition: max-height 0.8s cubic-bezier(0.16, 1, 0.3, 1);
            max-height: 0;
            opacity: 0;
            overflow: hidden;

            a {
                margin-bottom: 4px;

                &:first-child {
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                }

                &:last-child {
                    margin-bottom: 0;
                    border-bottom-left-radius: 16px;
                    border-bottom-right-radius: 16px;
                }

                color: var(--text);
                font-weight: 600;
                display: block;
                padding: 8px 16px;
                background-color: #fff;
                display: flex;
                align-items: center;

                &:hover {
                    color: var(--marreta);
                }

                span {
                    display: inline-block;
                }
            }

            .name {
                width: 140px;
            }
        }

        &.open {
            .extension__toggle {
                background-color: #F4F4F5;
                color: var(--textmuted);
            }

            .extension__menu {
                max-height: 200px;
                opacity: 1;
            }
        }
    }
}

main {
    .description {
        position: relative;
        z-index: 3;
        font-family: var(--font-family-unna);
        font-size: 64px;
        line-height: 61.44px;
        text-align: center;
        color: #000;
        max-width: 512px;
        margin: 0 auto;
    }

    .walls_destroyed {
        position: relative;
        z-index: 3;
        max-width: 512px;
        margin: 22px auto;
        text-align: center;

        span {
            color: var(--textmuted);
        }
    }

    form {
        z-index: 2;
        position: relative;

        .fields {
            &::before {
                content: '';
                background-image: url(../assets/images/wall.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 422px;
                height: 306px;
                position: absolute;
                top: -110px;
                right: -180px;
                z-index: 1;
            }

            max-width: 470px;
            margin: 0 auto;
            position: relative;

            .input {
                position: relative;
                z-index: 2;
                padding-right: 28px;
                padding-top: 2px;

                .icon {
                    z-index: 2;

                    &--link {
                        position: absolute;
                        top: 50%;
                        left: 1rem;
                        margin-top: -6px;
                    }
                }

                input {
                    background-color: #F4F4F5;
                    padding: 16px 0 16px 44px;
                    border: 0;
                    border-radius: 8px;
                    width: 100%;
                    box-sizing: border-box;
                    position: relative;
                    line-height: 1.3em;
                }
            }

            button {
                position: relative;
                background-color: var(--marreta);
                border-radius: 50%;
                height: 56px;
                width: 56px;
                border: 0;
                z-index: 3;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;

                &:hover {
                    background-color: var(--marreta-darken);
                }

                .icon {
                    width: 23px;
                    height: 23px;

                    &--refresh,
                    &--marreta {
                        filter: invert(100%) sepia(32%) saturate(8%) hue-rotate(23deg) brightness(102%) contrast(100%);
                    }
                }
            }
        }
    }

    .adblock {
        color: var(--textmuted);
        font-size: 13px;
        line-height: 1.2em;
        text-align: center;
        max-width: 470px;
        position: relative;
        z-index: 3;
        margin: 22px auto 0 auto;
    }

    .plus {
        z-index: 3;
        position: relative;
        background-color: rgba(244, 244, 245, 1);
        margin-left: calc(-1*var(--container_spacing));
        margin-right: calc(-1*var(--container_spacing));

        @include mixin.devices(desktop) {
            background-color: transparent;
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 0px 38px;
            align-items: start;
            max-width: 900px;
            margin: 62px auto 0 auto;
        }

        h2 {
            font-size: 16px;
            padding-bottom: 8px;
            margin: 0;

            .icon {
                margin-right: 10px;
            }
        }

        .text {
            font-size: 14px;
            color: var(--textmuted);
            padding-left: 26px;

            ol {
                padding-left: 16px;
                margin: 0;
            }

            p {
                margin: 0;
                padding-right: 22px;
            }

            strong {
                font-weight: 600;
                color: var(--text);
            }
        }

        .add_as_app {
            margin-top: 62px;
            padding: var(--container_spacing);

            @include mixin.devices(desktop) {
                padding: 0;
                margin-top: 0;
            }
        }

        .bookmarklet {
            display: none;

            @include mixin.devices(desktop) {
                display: block;
            }

            a {
                border: 2px solid var(--marreta);
                color: var(--marreta);
                border-radius: 40px;
                padding: 8px 16px;
                margin-top: 16px;
                display: inline-block;
                font-weight: 600;

                &:hover {
                    border-color: var(--marreta-darken);
                    color: var(--marreta-darken);
                }
            }
        }
    }
}

footer {}